html{
    background: url('../images/background.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    color: goldenrod;

  }

.transbox{
    background: rgba(177, 0, 0,0.7);
    border-style: solid ;
    border-width: 2px;
    border-color: goldenrod;
    border-radius: 10px;
    
  }
.transbox div{
    margin: 5%;
  font-weight: bold;
  font-family: sans-serif;
  text-decoration: none;
  }




.header{
    display: flex;
    flex-direction: row;
    border: solid black;
    justify-content: left;
    background: darkred;
    margin-bottom: 1.45rem;
}

.h1{
    color: rgb(69,168, 249, 255);
     font-Family: One-Piece;
      text-Decoration:none;
     padding-Left:60px;
}
.h2{
    color: rgb(69,168, 249, 255);
     font-Family: One-Piece;
      text-Decoration:none;
     padding-Left:60px;
     margin-bottom:-10 px;
}

.collection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 100px;
    column-gap: 5%;
}

.block{
    display: block;
    width: 20%;
    height: auto;
    padding: 5px;
    background: rgba(177, 0, 0,0.7);
    border-radius: 10px;
    color: white;
    
    overflow: auto;
    
}

.block:link{
text-decoration: none;

}

.block:hover{
    border-style: solid ;
    border-color: goldenrod;
    border-width: 2px;
}

.image{
    display: flex;
    align-content: center;
    justify-content: center;
    
}

